

*{
    margin: 0;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
 

}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 1;
}


.logo{
font-size: 30px;
color: #4dbf00;
}
.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active{
font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text-container{
    margin: 0 20px;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon{
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left:50px ;
}

.featured-content{
    height: 50vh;
    background-color: tomato;
    padding: 50px;
}

.featured-title{
    width: 200px;
}
.featured-desc{
    width: 500px;
    color: lightgrey;
    margin: 30px 0;
}

.featured-button{
    background-color: #4dbf00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
}
.movie-list-container{
    padding: 20px;
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-image{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}



.movie-list-image{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top:10%;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;


}
.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top:30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: all 1s ease-in-out;


}

.movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;

}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgrey;
    cursor: pointer;
    opacity: 0.5;
}

.container.active{
    background-color: white;
}

.movie-list-title.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}
.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: #151515;

}

.toggle-ball.active{
    background-color: #fff;
    transform: translateX(-20px);

}